* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
}

.row {
  background-color: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px gray;
}

img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.requestRest {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.requestRest:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}